*{
	margin: 0px;
	padding: 0px;
}
body{
	background: blue;
	width: 100%;
	min-height: 1600px;
	float: left;
}



.top2{
	width: 100%;
	height:150px;
	
	background: white;
}
.top image {
	width: 100%;
	height: 300px;
	float: left;
}
.body{
	width: 100%;
	min-height: 500px;
	
	float: left;
}



.menu{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #8f00a0;
	float: left;
}

.menu ul{
	float: left;
	margin-left: 50px;	
}

.menu ul li{
	float: left;
	border-right: 1px solid black;
	border-left: 1px solid black;
	list-style: none;
}
.menu ul li a:hover{
	color: white;
	background: black;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	padding:12px 20px 13px 10px;
}

iframe{
	float: left;
	width: 100%;
	min-height: 1000px;
	border: none;
}

#button{
	float: right;
	margin-top: 3px;
	margin-right: 100px;
}
.footer{
	float: left;
	width: 100%;
	height: 170px;
	background: #545251;
}